body {
	margin: 0;
	padding: 0 !important;
}
body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.207);
	border-radius: 20px;
}

body::-webkit-scrollbar-track {
	background: rgba(221, 221, 221, 0.261);
	border-radius: 20px;
}

header {
	padding-right: 0 !important;
}
